{% extends 'general_layout/general_layout.html' %}
{% block content %}

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="{{url_for('User.login')}}">登入</a></li>
        <li class="layui-this">重置密码
          <!--重置密码-->
        </li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">


          <div class="layui-form layui-form-pane">
            <form method="post" action="">
              {{ form.hidden_tag() }}
              <div class="layui-form-item">
                {{form.password.label (class="layui-form-label") }}
                {{form.password(class="layui-input-inline layui-input")}}

                {% for msg in form.password.errors %}
                <!-- 校验失败会将错误提示信息保存到errors中 -->
                <div class="layui-form-mid layui-word-aux"><span style="color:#FF5722;">{{ msg }}</span></div>
                {% endfor %}
              </div>

              <div class="layui-form-item">
                {{form.re_password.label (class="layui-form-label") }}
                {{form.re_password(class="layui-input-inline layui-input")}}

                {% for msg in form.re_password.errors %}
                <!-- 校验失败会将错误提示信息保存到errors中 -->
                <div class="layui-form-mid layui-word-aux"><span style="color:#FF5722;">{{ msg }}</span></div>
                {% endfor %}
              </div>
              <div class="layui-form-item">
                {{form.submit(class="layui-btn") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="fly-footer">
  <p><a href="http://www.docmind.cn/" target="_blank">DocMind社区</a> 2020 &copy; <a href="http://www.docmind.cn/"
      target="_blank">DocMind.cn 出品</a></p>
  <p>
    <a href="#" target="_blank">推广计划</a>
    <a href="#" target="_blank">社区运营</a>
    <a href="#" target="_blank">微信公众号</a>
  </p>
</div>


{% endblock %}